*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 40px;
  
    display: flex;
    justify-content: space-between; 

}
.html{
    height: 300px;
  
    background-color: rgb(51, 48, 48);
    color: white;
    display: flex;
    justify-content: space-evenly; 


    
}
.css{
    height: 300px;
   
    display: flex;
    justify-content: space-evenly; 
}
.lefts {
    display: flex;
    justify-content: start; 
}

.left{
  
    padding: 5px 10px;
    margin: 5px;
 
}
p:hover{
    background-color: rgba(120, 240, 120, 0.8);
}
.rights{
    display: flex;
    justify-content: start; 

}
.right{
   
    padding: 5px 10px;
    margin: 5px;
}
.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: start; 

}
.menus{
   
    padding: 5px 10px;


}
#html2{
    width: 400px;
    height: 200px;
    padding: 40px;
}
#html-word{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
}
#learn{
    background-color: green;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    
}
#video{
    background-color:rgb(255, 240, 128);
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 10px;
}
#referance{
    background-color: rgb(231,233,235);
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 10px;
}
.html-item{
    padding: 40px;
    text-align:center;

}